@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}
nav {
 font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: aliceblue;
    height: 65px;
    font-size: 1rem;
    
}
nav ul li {
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}